.about h1 {
  background-color: #0b515f;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}

.about-container {
  background-color: #0b515f;
  display: flex;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  gap: 1rem;
}
