.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #0b515f;
  border-radius: 10px;
}

.carousel-slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.post {
  flex: 0 0 100%;
  padding: 10px;
}

.post img {
  width: 50%;
}

.slider-controls {
  margin-top: 10px;
}

.prev-btn,
.next-btn {
  padding: 5px 10px;
  background-color: #0b515f;
  color: #fff;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
