@media (min-width: 360px) {
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }

  .slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .prev-btn,
  .next-btn {
    padding: 5px 10px;
  }

  .post {
    flex: 0 0 calc(75% - 20px);
    padding: 10px;
  }

  .post img {
    width: 50%;
  }

  .contact-form_child {
    display: grid;
    grid-gap: 2rem;
  }

  .name-grid {
    grid-area: 1 / 1;
  }
  .email-grid {
    grid-area: 1 / 2;
  }
  .subject-grid {
    grid-area: 2 / 1;
  }
  .message-grid {
    grid-area: 3 / 1;
  }

  .message-textarea {
    width: 200%;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 800px;
  }

  .carousel-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .carousel-slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .post {
    flex: 0 0 calc(50% - 20px);
    padding: 10px;
  }

  .post img {
    width: 100%;
  }
}

@media (min-width: 1144px) {
  .container {
    max-width: 1144px;
  }

  .post {
    flex: 0 0 25%;
    padding: 10px;
  }

  .post img {
    width: 100%;
  }
}
