.container {
  padding-top: 2rem;
}

.per-page {
  margin-bottom: 1rem;
}

.posts {
  display: grid;
  padding-top: 2rem;
}

.post {
  background-color: #0b515f;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.view-more {
  background-color: #0b515f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #bac5cf;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.view-less {
  background-color: #0b515f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #bac5cf;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
