.post-content {
  padding-top: 2rem;
}

.post-content img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.wp-block-image {
  width: 100%;
  margin: auto;
}

h1 {
  display: none;
}

p {
  padding: 0.5rem;
}

.content-h2 {
  background-color: #0b515f;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
