.wp-block-image {
  width: 100%;
  margin: auto;
}

h1 {
  display: none;
}

p {
  padding: 0.5rem;
}

.content-h2 {
  background-color: #0b515f;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
