* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: auto 0;
  border: 0;
  padding: 0;
  background-color: #0e2f35;
  color: #fff;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.container {
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  grid-area: header;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

header a {
  color: #fff;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 1rem;
}

header,
footer {
  background-color: #0b515f;
  z-index: 9;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

nav {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50px;
  border-radius: 0.5rem;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  padding: 1rem;
  font-size: large;
}

nav li:hover {
  opacity: 0.5;
}

#hamburger-menu {
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#hamburger-menu:checked ~ nav {
  display: block;
  background-color: #0b515f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.fas,
.fa-bars {
  cursor: pointer;
  padding-right: 50px;
}

.fas:hover,
.fa-bars:hover {
  opacity: 0.5;
}

.header-nav {
  position: fixed;
  width: 100%;
}

.header-nav_row {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header-name-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-name {
  padding: 1rem;
  font-size: x-large;
  font-weight: bold;
}

.header-name:hover {
  opacity: 0.5;
}

.active {
  text-decoration: underline;
}
